hr {
    background: none;
    border: 0;
    clear: both;
    display: block;
    float: none;
    font-size: 0;
    padding: 0;
    overflow: hidden;
    visibility: hidden;
}
blink, .blink {
    -webkit-animation: blink 2s step-end infinite;
       -moz-animation: blink 1s step-end infinite;
         -o-animation: blink 2s step-end infinite;
            animation: blink 1s step-end infinite;
  }
  
  @-webkit-keyframes blink {
   55% { opacity: 0 }
  }
  
  @-moz-keyframes blink {
   75% { opacity: 0 }
  }
  
  @-o-keyframes blink {
   25% { opacity: 0 }
  }
  
  @keyframes blink {
   55% { opacity: 0 }
  }

