body{
background-color:black;
}

#search-results p
{
    display: none;
}

a {
font-size:1.70em;
text-decoration:none;
color: white;
}
a:hover{
text-decoration:none;
color:blue;
}

.fig-ansi {
font-size: 8.55pt;
background-color:transparent;
font-family: "Courier New", Monospace;
white-space: pre;
text-shadow:0px 0px 0.15em white;
box-shadow: 0px 0px 1.45em white;
width:55%;
overflow:hidden;
text-decoration: none;

line-height: 16px;
}

.fig-ansi-bottomtext {
color:white;
font-size: 14pt;
background-color:transparent;
font-family: "Courier New", Monospace;
white-space: pre;
text-shadow:0px 0px 0.45em gold;
box-shadow: 0px 0px 0.45em white;
width:60%;
overflow:hidden;

padding: 0px 0px 1px;
line-height: 24px;
}

.dt{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
